<div class="delete-view">

    <h1>Delete Student Detials</h1>
<table>
    <tr>
        <th>FirstName</th>
        <td>{{getJsonValue.firstname}}</td>
    </tr>
    <tr>
        <th>LastName</th>
        <td> {{getJsonValue.lastname}}</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <td>{{getJsonValue.dob}}</td>
    </tr>
    <tr>
        <th>Mail</th>
        <td>{{getJsonValue.mail}}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{getJsonValue.gender}}</td>
    </tr>
    <tr>
        <th>phone Number</th>
        <td>{{getJsonValue.phone}}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{getJsonValue.address}}</td>
    </tr>
    <tr>
        <th>pincode</th>
        <td>{{getJsonValue.pincode}}</td>
    </tr>
    <tr>
        <th>State</th>
        <td>{{getJsonValue.state}}</td>
    </tr>
    <tr>
        <th>HOBBIES</th>
        <td>{{getJsonValue.hobbies}}</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>{{getJsonValue.country}}</td>
    </tr>
    <tr>
        <th>10 QUALIFICATION</th>
        <td>{{getJsonValue.qualification10}}</td>
    </tr>
    <tr>
        <th>12 QUALIFICATION</th>
        <td>{{getJsonValue.qualification12}}</td>
    </tr>
    <tr>
        <th>COURSES</th>
        <td>{{getJsonValue.courses}}</td>
    </tr>

</table>

    <button class="but" type="submit" (click)="deleteMethod()">Detete</button>
</div>