<div class="main">

    <form action=""  (ngSubmit)="getMethod()">
        <label for="" class="enter-student-detials">Enter Registeration Number:</label>
        <select name="" [(ngModel)]="valueDetails" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let value of valueDetails" [value]="value">
                {{ value }}
            </option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <!-- <select name="">
        <option *ngFor="let value of valueDetails" [value]="value">
            {{ value }}
        </option>
    </select> -->
    <!-- <input type="text"
    formControlName="viewvalue"> -->

    <div class="nodataimg">
        <img src="../../assets/images/nodata.webp" alt="">
    </div>

    <router-outlet></router-outlet>

</div>