<div class="dashhome">
    <div class="profile">
        <video src="../../assets/images/Pexels Videos 4562.mp4" type="video/mp4"  muted autoplay loop style="width: 100px;">
        </video>
    </div>
    <h1 class="student-txt">Student DashBoard</h1>
   <a href="javascript:void(0);" (click)="dashhome()"><i class="fa-solid fa-house-chimney homeicon fa-2x"></i> </a>
                    
    <i class="fa-solid fa-bell bell fa-2x"></i>
    <a href="javascript:void(0);" (click)="returnlogin()"><i class="fa-solid fa-right-to-bracket login-icon"></i></a>
</div>
